<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<form name="vm.accountForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.accountData.name" type="text" placeholder="Имя" required ng-minlength="3" name="accountName">
    </div>

    <div ng-messages="vm.accountForm.accountName.$error" ng-if="vm.accountForm.accountName.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Поле обязательно для заполнения</div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.accountData.email" type="text" placeholder="Email" data-ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required name="accountEmail">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountEmail.$error" ng-if="vm.accountForm.accountEmail.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Поле обязательно для заполнения</div>
        <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на email</div>
    </div>


    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="vm.accountData.phone" type="text" placeholder="Телефон" data-ng-pattern="/^^((\+7|7|8)+([0-9]){10})$/" name="accountPhone">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountPhone.$error" ng-if="vm.accountForm.accountPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на телефон</div>
    </div>


    <button type="submit" class="btn btn-default" data-ng-click="vm.addAccount(vm.accountData)" data-ng-disabled="vm.accountForm.$invalid">Добавить
    </button>

    <pre ng-if="vm.accountForm.showData">{{vm.accountForm.showData | json}}</pre>

</form>
